<div class="admin_header_container">
    <span class="admin_header_text">Login to access admin panels</span>
  <div class="clear"></div>
</div>

<div class="admin-cred-input">

  <%= form_tag(login_path) do %>

    <div class="admin-login-input-error-msg">
      <%= "Incorrect username or password" if flash[:error] == "auth_fail" %>
    </div>

    <div class="admin-login-input-error-msg">
      <%= "You must login with admin credentials in order to render the page you are attempting to access" if flash[:error] == "access_denied" %>
    </div>

    <div class="admin-login-input">Username: <br /><%= text_field_tag 'username' %></div>
    <div class="admin-login-input">Password: <br /><%= password_field_tag 'password' %></div>
</div>
    <%= submit_tag 'submit', :class => "submit-btn" %>
  <% end %>
