<!DOCTYPE html>
<html>
  <head>
    <title>:: XANDER DUELL ::</title>
    <meta name="description" content="+ + + The Official Website for Musician, Composer Xander Duell + + +">
    <%= stylesheet_link_tag   "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "//use.typekit.net/flt4gqz.js" %>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%#= favicon_link_tag %>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <script>
      audiojs.events.ready(function() {
        var ajso = audiojs.createAll();
         $('.audiojs .play-pause').live('click', function(){
            var thisIndex = $(this).parents('.audiojs').index('.audiojs');
            $.each(ajso, function(index,val){
                if ( index != thisIndex && ajso[index].playing ) ajso[index].pause();
            });
        });
      });
    </script>

    <script>
      audiojs.events.ready(function() {
        var as = audiojs.createAll();
      });
    </script>

</head>
<body>

<%= yield %>

</body>
</html>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    // g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    // s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
